{{define "game/view"}}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Coinche "{{.Name}}"</title>
<link rel="stylesheet" href="/coinche/assets/css/main.css">
</head>
<body>

<h1>Coinche "{{.Name}}"</h1>

<p>[<a href="/coinche/game/edit/{{.Id}}">edit</a>]</p>

<p>
  <h3>Team Nord-Sud:</h3>
  <table>
    <tr>
      <th>Nord:</th><td><a href="/coinche/player/{{.NordId}}">{{.NordName}}</a></td>
    </tr>
    <tr>
      <th>Sud:</th><td><a href="/coinche/player/{{.SudId}}">{{.SudName}}</a></td>
    </tr>
  </table>
</p>
<p>
  <h3>Team Est-Ouest:</h3>
  <table>
    <tr>
      <th>Est:</th><td><a href="/coinche/player/{{.EstId}}">{{.EstName}}</a></td>
    </tr>
    <tr>
      <th>Ouest:</th><td><a href="/coinche/player/{{.OuestId}}">{{.OuestName}}</a></td>
    </tr>
  </table>
</p>
<p>
  <form action="/coinche/game/distribute" method="POST">
    <input type="hidden" name="nordId" value="{{.NordId}}">
    <input type="hidden" name="sudId" value="{{.SudId}}">
    <input type="hidden" name="estId" value="{{.EstId}}">
    <input type="hidden" name="ouestId" value="{{.OuestId}}">
    <input type="hidden" name="gameId" value="{{.Id}}">
    <input type="submit" value="Distribute...">
  </form>
</p>
<!--
<p>Exemple : as de pic : {{noescape .Cards.spadeA}}</p>
<p>Exemple : as de pic : {{.Cards.spadeA}}</p>
<p class="cards"><img src="/coinche/assets/img/heart.png" width="30" height="30">10</p>
<p class="cards"><img src="/coinche/assets/img/spade.png" width="30" height="30">A</p>
<p class="cards"><img src="/coinche/assets/img/diamond.png" width="30" height="30">V</p>
<p class="cards"><img src="/coinche/assets/img/club.png" width="30" height="30">9</p>
-->
</body>
</html>
{{end}}